@model List<proyectoMortalidad.Models.TableViewModels.TipoMuerteTVM>
@{
    ViewBag.Title = "Index";
}

<h2>Municipios</h2>

<div class="row">

    <div class="col-lg-12">
        <table class="table-bordered">

            <tr>

                <th>Identificador</th>
                <th>Tipo Muerte</th>
            </tr>

            @foreach (var oElemento in Model)

            {
                <tr>
                    <td>@oElemento.cBas1PreguntaId</td>
                    <td>@oElemento.cBas1PreguntaNombre</td>

                </tr>
            }



        </table>

</div>
</div>